/* #app { height: 100% } */



#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 260px; /* Set the width to 220px for desktop devices */
  height: 350px; /* Allow the height to adjust based on content */
}

/* Media query for mobile devices */
@media (max-width: 767px) {
  .swiper {
    width: 100%; /* Set the width to 100% for mobile devices */
    height: auto; /* Allow the height to adjust based on content */
  }
}

/* Media query for desktop devices */
@media (min-width: 768px) {
  .swiper {
    width: 300px; /* Set the width to 220px for desktop devices */
    height: 320px;
  }
}
@media (min-width: 1280px) {
  .swiper {
    width: 330px; /* Set the width to 220px for desktop devices */
    height: 360px;
  }
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 25px;
  font-weight: 500;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  
  background-color: #067bad
}

.swiper-slide:nth-child(2n) {
  background-color: #18171C;
  
}

.swiper-slide:nth-child(3n) {
  background-color: #067bad
}

.swiper-slide:nth-child(4n) {
  background-color: #18171C;
}

.swiper-slide:nth-child(5n) {
  background-color: #067bad;
}

.swiper-slide:nth-child(6n) {
  background-color: #18171C;
}

.swiper-slide:nth-child(7n) {
  background-color: #067bad;
}

.swiper-slide:nth-child(8n) {
  background-color: #18171C;
}

.swiper-slide:nth-child(9n) {
  background-color: #067bad;
}

.swiper-slide:nth-child(10n) {
  background-color: #067bad;
}

/* .loader {
  width: 150px;
  height: 150px;
  border-left: 5px solid #38ff8e;
  border-radius: 50%;
  animation: right5231 0.9s linear infinite;
}

.loader::before,
  .loader::after {
  content: "";
  width: 120px;
  height: 120px;
  display: block;
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 60px);
  border-right: 5px solid #ffbe0b;
  border-radius: 50%;
  animation: left036 0.9s linear infinite;
}

.loader::after {
  width: 90px;
  height: 90px;
  top: calc(50% - 45px);
  left: calc(50% - 45px);
  border: 0;
  border-top: 5px solid #ff086e;
  animation: none;
}

@keyframes right5231 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes left036 {
  from {
    transform: rotate(720deg);
  }

  to {
    transform: rotate(0deg);
  }
} */